.account {
  background: #f3f4fa;
  height: max-content;
}
.account__header {
  z-index: 10;
  display: flex;
  padding: 0 28px;
  position: relative;
  min-height: 66px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  border-bottom: 1px solid #f0f0f0;
  background-color: #fff;
}
.logo h2 {
  margin: 0;
  padding: 0;
  color: #808990;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  align-items: center;
  font-weight: 600;
  margin-left: 10px;
  text-transform: uppercase;
}
/*Animition*/
@keyframes logo {
  0% {
    transition: 0.3s;
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.logo svg {
  transition: 0.3s;
  animation: logo 0.9s ease-in-out infinite;
}

/* sidebar */
.account__sidebar {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  color: #4e4d4f;
  width: 304px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: calc(66px + 1px);
  z-index: 100;
}
.sidebar__menu {
  height: 100%;
}
.sidebar__menu__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 10%;
  transition: color 0.3s ease-in-out;
}
.account__left {
  position: sticky;
  top: 66px;
  overflow-y: auto;
  z-index: 1;
}
.account__left::-webkit-scrollbar {
  width: 5px;
}
.account__left__avatar img {
  border: 5px solid #fefefe;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  left: 0;
}
.account__left__name {
  margin-top: 30px;
  text-transform: uppercase;
}
.account__left__name span {
  font-weight: 700;
  color: #ff3f3f;
}
.account__left__name h3 {
  color: #1e2125;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 22px;
}
.account__left__info {
  font-size: 18px;
  color: #3c3e41;
  margin-bottom: 60px;
  line-height: 1.6;
  font-weight: 500;
}
.account__left__button button {
  transition: 0.4s;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  color: #ff3f3f;
  margin: 15px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border: 0 none;
  padding: 15px 35px;
}
.account__right-title {
  position: relative;
}
.account__right-title h3 {
  font-size: 30px;
  text-align: left;
  color: #3c3e41;
  font-weight: 700;
}
.account_hr {
  width: 100%;
  height: 1px;
  background-color: #3c3e41;
}
.account__right__section {
  padding: 35px 40px 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  border-radius: 10px;
}
.form-label {
  font-weight: 500;
  font-size: 14px;
  color: #3c3e41;
  text-transform: uppercase;
}

.form-control {
  background: #fdfefe;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 2px solid #dadada;
}
.form-select {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fdfefe;
}
.form-control,
.form-select:focus {
  box-shadow: none !important;
}
.form__error {
  padding-top: 5px;
  color: red;
  font-size: 12px;
  font-weight: 500;
}
.account__btn {
  transition: 0.4s;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  color: #ff3f3f;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  border: 0 none;
  padding: 8px 25px;
}
.account__btn:hover {
  color: #ffffff;
  transform: translateY(-5px);
  transition: 0.4s;
  background: linear-gradient(145deg, #ff014f, #d11414);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.account .MuiInputBase-input {
  font-size: 14px !important;
  padding: 5px 10px !important;
  background: #fdfefe !important;
}
.account .MuiInputBase-input:focus {
  border-color: #3c3e41 !important;
  box-shadow: none !important;
}
.account .MuiSvgIcon-root {
  font-size: 12px !important;
}
.account .MuiFormControl-root {
  background: transparent !important;
}

.account .MuiFormControl-root:focus {
  background-color: #fff !important;
}
.c-img {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  min-width: 81px;
  height: 81px;
  line-height: 81px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 20px;
}
.c-img img {
  object-fit: cover;
  width: 50px;
  height: auto;
}
.c_item span {
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}
