@import "../../App.css";

.navbar {
  transition: 0.7s;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
.color-nav {
  background: #00693e !important;
}
.color-logo {
  color: #fff !important;
}
.color-logo1 {
  color: #fff !important;
}
.navbar-brand {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--black);
  letter-spacing: 1px;
  font-weight: bold;
}
.navbar-brand:hover {
  color: #00693e;
  transform: scale(1.1);
  transition: 0.4s !important;
}
.navbar-toggler {
  color: var(--blue);
}

.nav-link:hover {
  color: #00693e !important;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--blue);
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}

.color-nav-link:hover::after {
  width: 100%;
  background: #fff !important;
}
.nav-item .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--blue);
  transition: all 0.3s ease-in-out;
}

.nav__ne .color-nav-item .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff !important;
  transition: all 0.3s ease-in-out;
}

.nav-item {
  padding: 0 20px;
}
.nav-item a {
  padding: 5px 30px;
}
.nav-item i {
  font-size: 18px;
  color: var(--blue);
}
.nav-item svg {
  font-size: 18px;
  color: var(--blue);
}
.nav-item span {
  text-transform: uppercase;
  padding-top: 3px;
  font-weight: 700;
  color: var(--black);
  font-size: 10px;
}
.color-nav-item span {
  color: #fff !important;
}

.color-nav-item svg {
  color: #fff !important;
}
.color-nav-item i {
  color: #fff !important;
}
.form__search {
  position: relative;
}
.form__search__result {
  position: absolute;
  top: 120%;
  left: 0;
  width: 95%;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 999;
  height: 100px;
  border: none;
  display: none;
}
.form__search__result.show {
  display: block;
}
.form__search__result ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #00693e;
  border-radius: 8px;
}
.form__search__result ul li {
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}
.form__search__result ul li:hover {
  background: #00693e;
  color: #fff;
}
.nav__tool-user i {
  font-size: 18px;
  color: var(--blue);
  margin-right: 10px;
}
.nav__search {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 20px;
  background: var(--white);
  font-size: 14px;
  border: 1px solid transparent;
  box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
}
.nav__search:focus {
  border-color: var(--blue) !important;
  border: 1px solid var(--blue);
  box-shadow: none;
}
.nav__tool-user .bx-search {
  position: absolute;
  right: 40px;
  color: var(--blue);
}
input::-webkit-input-placeholder {
  color: var(--pink);
  font-size: 14px;
}

.offcanvas-title {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--black);
  letter-spacing: 1px;
}
.btn-close {
  color: var(--blue) !important;
}
.cart__item {
  padding: 10px 0;
}
.cart__item__title h5 {
  font-size: 12px;
  font-weight: 700;
  color: var(--black);
}
.cart__item__price p {
  font-size: 12px;
  font-weight: 700;
  color: var(--blue);
}
.cart__item__price span {
  font-size: 12px;
  font-weight: 700;
  color: var(--black);
}
.cart__total_price div p {
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}
.total__price {
  font-size: 14px;
  font-weight: 700;
  color: var(--blue);
}
.btn__delete__cart {
  color: var(--blue);
}
.btn__delete__cart:hover {
  cursor: pointer;
}
.dropdown-toggle:focus {
  box-shadow: none !important;
}
.color-cart-icon {
  color: #fff !important;
}
.color-user-icon {
  color: #fff !important;
}
#header .dropdown-toggle::after {
  display: none;
}
#header .dropdown {
  margin-right: 20px;
}
#header .dropdown-item:hover {
  background: #00693e !important;
  color: #fff !important;
}
