@import "../../App.css";

.navbar {
  transition: 0.4s;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
.navbar-brand {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--black);
  letter-spacing: 1px;
}
.navbar-brand:hover {
  color: #ff3f3f;
  transform: scale(1.1);
  transition: 0.4s !important;
}
.navbar-toggler {
  color: var(--orange);
}

.nav-link:hover {
  color: #ff3f3f !important;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--orange);
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}

.nav-item .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--orange);
  transition: all 0.3s ease-in-out;
}

.nav-item {
  padding: 0 20px;
}
.nav-item a {
  padding: 5px 30px;
}
.nav-item i {
  font-size: 18px;
  color: var(--orange);
}
.nav-item span {
  text-transform: uppercase;
  padding-top: 3px;
  font-weight: 700;
  color: var(--black);
  font-size: 10px;
}
.form__search {
  position: relative;
}
.nav__tool-user i {
  font-size: 18px;
  color: var(--orange);
}
.nav__search {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 20px;
  background: var(--white);
  font-size: 14px;
  border: 1px solid transparent;
  box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
}
.nav__search:focus {
  border-color: var(--pink) !important;
  border: 1px solid var(--orange);
  box-shadow: none;
}
.nav__tool-user .bx-search {
  position: absolute;
  right: 30px;
  color: var(--orange);
}
input::-webkit-input-placeholder {
  color: var(--pink);
  font-size: 14px;
}

.offcanvas-title {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--black);
  letter-spacing: 1px;
}
.btn-close {
  color: var(--orange) !important;
}
.cart__item {
  padding: 10px 0;
}
.cart__item__title h5 {
  font-size: 12px;
  font-weight: 700;
  color: var(--black);
}
.cart__item__price p {
  font-size: 12px;
  font-weight: 700;
  color: var(--orange);
}
.cart__item__price span {
  font-size: 12px;
  font-weight: 700;
  color: var(--black);
}
.cart__total_price p {
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}
.total__price {
  font-size: 14px;
  font-weight: 700;
  color: var(--orange);
}
.btn__delete__cart {
  color: var(--orange);
}
.btn__delete__cart:hover {
  cursor: pointer;
}
