* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --bg--color: linear-gradient(#9f0036 0%, rgba(22, 22, 22, 0.06) 100%);
  --main--color: rgba(254, 44, 85, 1);
  --text--color: #fff;
  --btn--color: #e6c511;
  --yellow: rgb(252, 207, 0);
  --black: #2d3748;
  --white: #fff;
  --pink: rgba(254, 44, 85, 1);
  --orange: #ff3f3f;
  --blue: #054a49;
  --gray: #faf9fa;
  --big--font: 2.5rem;
  --medium--font: 1.5rem;
  --small--font: 1rem;
  --xsmall--font: 0.8rem;
  --green: #5fa509;
  --background: #212121;
}
body {
  font-family: "Readex Pro", sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}
.App {
  /* background-color: rgb(241 255 249/1); */
}
iframe video {
  height: 100% !important;
}
/* Css cho thanh scroll */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #054a49;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Css cho thanh scroll */
img {
  max-width: 100%;
}
.row {
  margin: 0;
  padding: 0;
}
.col {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0;
}
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--black);
}
.grow {
  flex-grow: 0.5 !important;
}
.main__btn {
  background-color: #054a49 !important;
  font-size: 13px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 600;
  background-color: transparent;
  max-width: 300px;
  border: 2px solid #054a49;
}
.main__btn:hover {
  background-color: #fff !important;
  color: #054a49 !important;
  transition: 0.4s;
}
.blog__title {
  font-size: 3rem;
  line-height: 1.33;
  color: #2d3748;
  font-weight: 900;
  margin-bottom: 1rem;
}
.list__info li {
  padding-right: 20px;
  font-size: 1rem;
  font-weight: normal;
  color: #718096;
  line-height: 1.8;
}
.blog__card {
  border-radius: 1rem !important;
}
.blog__img {
  object-fit: cover !important;
  max-height: 500px !important;
  border-radius: 1rem 1rem 0 0;
}
.blog__head {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #2d3748;
  font-weight: bold;
}
.blog__detail {
  font-size: 1.25rem;
  color: #4a5568;
  margin-bottom: 2rem;
}
.signin__page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.7)),
    url("https://utex.hcmute.edu.vn/pluginfile.php/1/theme_maker/loginbgimage/1634220818/57f4e15cb6bc4be212ad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.signin__page-inner {
  width: 80%;
  max-width: 900px;

  box-shadow: 0px 3px 1px -2px rgb(145 158 171 / 20%),
    0px 2px 2px 0px rgb(145 158 171 / 14%),
    0px 1px 5px 0px rgb(145 158 171 / 50%);
  border-radius: 16px;
  padding: 40px 30px;
  background: #fff;
  opacity: 1;
}
.form__login {
  width: 100%;
  max-width: 400px;
}
.login__title {
  -webkit-box-decoration-break: clone;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 38px;
}
.btn_login {
  border: 2px solid var(--black);
  border-radius: 30px;
  padding: 10px 20px;
  display: inline-block;
  font-weight: 600;
  background-color: transparent;
  max-width: 300px;
}
.btn_login:hover {
  color: var(--yellow);
  border: 2px solid var(--yellow);
  transition: 0.3s;
}
.link_to_signup {
  font-size: 11px;
  color: rgb(63, 63, 120);
}
.list__video-container {
  border-radius: 20px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  padding: 10px;
  min-height: 100%;
  max-height: calc(100vh - 177.6px);
  overflow: auto;
}

.list__videos li .video__item {
  position: relative;
  width: 100%;
  border: 1px solid #e6e6ea;
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 10px;
  align-items: center;
  cursor: pointer;
}

.list__videos li .video__item.active {
  background: #e6e6ea;
  color: #054a49;
}

.icon__playvideo {
  position: absolute;
  right: 10px !important;
  font-size: 25px;
  cursor: pointer;
}
.icon__playvideo:hover {
  cursor: pointer !important;
  font-size: 45px;
  opacity: 0.8;
  transition: 0.3s;
}
.footer__tool {
  z-index: 10;
  box-shadow: 0 -2px 3px rgb(0 0 0 / 10%);
  background: var(--background);
}
.footer__tool .tool__container span {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}

.header__tool {
  z-index: 10;
  box-shadow: 0 -2px 3px rgb(0 0 0 / 10%);
  background: var(--background);
}
.header__tool .tool__container span {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}

.course__page .course__social {
}
.course__page .course__left {
}

.course__page .card__detail {
}
.course__page .course__right {
  height: auto;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  position: sticky;
  top: 100px;
  right: 0;
}
.course__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 1rem;
}
.course__social {
  margin-top: 0.75rem;
  font-size: 14px;
  color: #054a49;
  font-weight: 700;
}
.course__social .total {
  color: #054a49;
  font-weight: 700;
}
.course__social .course__img {
  border-radius: 12px;
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}

.card__detail .course__title {
  font-size: 1rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 0.75rem;
}
.card__detail .course__social {
  margin-top: 0.25rem;
  font-size: 10px;
  color: #054a49;
  font-weight: 700;
}
.card__detail .course__dess {
  font-size: 12px;
  color: #718096;
  line-height: 1.7;
}
.card__detail .course__social .total {
  color: #054a49;
  font-weight: 700;
}
.course__img {
  margin-top: 14px;
  border-radius: 12px;
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}
.card__detail img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}
.card__detail .btn-dkkh {
  background-color: #054a49 !important;
  font-size: 10px;
  color: #fff;
  border-radius: 30px;
  padding: 3px 8px;
  display: inline-block;
  font-weight: 600;
  background-color: transparent;
  max-width: 300px;
  border: 2px solid #054a49;
}
.card__detail .btn-dkkh:hover {
  background-color: #fff !important;
  color: #054a49 !important;
  transition: 0.4s;
}
.card__detail .course__price {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 600;
}
.card__detail p span {
  font-size: 14px;
  color: #054a49;
  line-height: 1.7;
  font-weight: 900;
}

/*Custom button*/

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* course__content */
.course__content .nav-link {
  color: var(--blue);
  font-size: 14px;
}
.course__content .tab-content {
  border-left: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
}
.course__content .nav-link.active {
  border-bottom: none;
  border-left: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  border-top: 2px solid var(--blue);
}
.course__content .nav-tabs {
  border-bottom: 2px solid var(--blue);
}

/* review */
.rating__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.rating__delete {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 20px;
  color: #232526;
  cursor: pointer;
  font-weight: 700;
}
.rating__item {
  display: flex;
  align-items: center;
  background: #fff;
}
.rating__item .rating__avt img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--blue);
  padding: 2px;
}
.rating__item .rating__avt .name_user {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 134.9%;
  margin-left: 10px;
}
.rating__time {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 134.9%;
  color: #718096;
  margin-left: 10px;
}
.rating__content p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 134.9%;
  color: #2d3748;
  margin-left: 10px;
}
.form__rating {
  padding: 1rem;
}

.form__error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/*card__detail*/
.new__course {
  margin-top: 50px;
}
.new__course .new__course-title {
  color: #054a49;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.new__course .new__course-title span {
  display: inline-block;
  color: #fff;
  background: rgb(192, 23, 23);
  padding: 0 10px;
  border-radius: 50%;
  transform: rotate(-10deg) translateY(-25px);
  font-size: 1.6rem;
  font-weight: 700;
}
.card__course-item {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  height: auto;
  min-height: 220px;
  z-index: 1;
  transition: 0.3s !important;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  position: relative;
}
.card__course-item:hover {
  transform: scale(1.05) !important;
  cursor: pointer;
}
.card__course-item:hover img {
  transition: 0.3s;
  transform: scale(1.1) !important;
  cursor: pointer;
}
.card__course-item .avt__course {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: -1;
  width: auto;
  max-width: 200px;
  min-width: 200px;
  object-fit: contain;
  border-bottom-left-radius: 20px;
}
.card__layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.3s;
}
.card__layer:hover {
  background-image: linear-gradient(rgba(228, 219, 219, 0.741), #054a49);
  cursor: pointer;
}
.card__layer a {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  border: 2px solid var(--blue);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: transparent;
  border-radius: 30px;
  display: inline-block;
  color: var(--white);
}
.card__layer a:hover {
  transition: all 0.5s;
  background: var(--blue);
  border: 2px solid var(--blue);
}
.card__layer:hover a {
  bottom: 40%;
  opacity: 1;
  transition: all 0.4s;
}
.card-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.083em;
}
.card-text span {
  color: var(--blue);

  padding: 3px 10px;
}
.card-title {
  max-width: 300px;
  font-size: 14px;
  line-height: 1.273em;
  font-weight: 500;
  overflow: hidden;
  white-space: pre-wrap;
}
.instructor {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.instructor .avt__teacher {
  display: inline-block;
  margin-right: 10px;
  max-width: 28px;
}
.instructor .name {
  font-size: 12px;
  display: inline-block;
  position: relative;
  top: 7px;
}
.card-language {
  font-size: 10px;
  font-weight: 400;
  color: #191919;
  margin-bottom: 10px;
}
.card-language span {
  font-size: 12px;
  line-height: 1.125em;
}
.card-language,
.card__star {
  border-radius: 10px;
  background-color: #054a49;
  border: 1px solid #eee;
  padding: 6px;
  white-space: nowrap;
  box-shadow: 0 2px 8px 0 rgb(20 20 43 / 6%);
  color: #fff;
}
.card__star {
  margin-bottom: 10px;
  box-shadow: 0 2px 8px 0 rgb(20 20 43 / 6%);
  font-size: 11px;
}
.card__body {
  padding: 32px 24px 28px;
}

.successpage {
  background: #fff;
  color: #212121;
  margin: 20px 0;
}

.success__content h1 {
  color: #054a49;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.success__content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.success__content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.success__content span {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.success__btn {
  margin-top: 20px;
  padding: 5px 20px;
  color: #054a49;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: 0.4s;
  border: 2px solid #054a49;
  border-radius: 30px;
}
.success__btn:hover {
  background: #054a49;
  color: #fff;
}

.failpage {
  height: 100vh;
  background: #fff;
  color: #212121;
}

.fail__content h1 {
  color: #f7444e;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.fail__content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.fail__content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.fail__content span {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.fail__btn {
  margin-top: 20px;
  padding: 5px 20px;
  color: #f7444e;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: 0.4s;
  border: 2px solid #f7444e;
  border-radius: 30px;
}
.fail__btn:hover {
  background: #f7444e;
  color: #fff;
}

/* Contact css */
.contact__container {
  height: 100%;
  background: var(--blue);
  padding: 30px 0;
}
.contact__inner {
  width: 90%;
  height: 80%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgb(20 20 43 / 6%);
}
.custom__input {
  display: flex;
  position: relative;
}
.custom__input input {
  background: #e6e6e6;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 50px;
  font-weight: 700;
  outline: none !important;
  border: none !important;
}
.custom__input input:focus {
  background: #e6e6e6;
  border: none;
}

.custom__input textarea {
  background: #e6e6e6;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  width: 100%;
  min-height: 50px;
  border: 1px solid #eee;
  height: 50px;
  border-radius: 25px;
  padding: 14px 30px 0 50px;
  vertical-align: middle;
  font-weight: 700;
  outline: none !important;
  border: none !important;
}
.custom__input textarea:focus {
  background: #e6e6e6;
  border: none;
}
.custom__input i {
  position: absolute;
  color: #666 !important;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: #000;
}
.contact__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.6;
  letter-spacing: 1px;
}
.filter__courses {
  height: auto;
  background: #fff;
  padding: 30px 20px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  position: sticky;
  top: 100px;
  left: 0;
  overflow: hidden;
  transition: 0.4s;
}
.filter__courses.show-full {
  height: 100%;
}
.mylearning .nav-tabs {
  border: none;
}
.mylearning .tab-content {
  position: relative;
  background: white;

  width: 100%;
  height: 85vh;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  border-radius: 5px;
  min-width: 240px;
  overflow: auto;
}
.mylearning .nav-item .nav-link:hover::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--blue);
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}
.mylearning .nav-item .nav-link:hover {
  color: #bec5cf !important;
}
.mylearning .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--blue);
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}
.mylearning .nav-item .nav-link {
  font-size: 18px;
  font-weight: 700;
  color: #929daf;
  border: none;
}
.mylearning .nav-item .nav-link.active {
  cursor: default;
  color: #054a49;
  border: none;
}

.mylearning .nav-item .active::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background: var(--blue);
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}
.filter__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.filter__type {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.value__filter {
  font-size: 0.6rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.filter__option {
  font-size: 0.3rem !important;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.filter__courses .MuiFormControlLabel-label {
  font-size: 0.7rem !important;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.filter__courses .PrivateSwitchBase-input {
  width: 20px;
  height: 20px;
  border-radius: 20%;
}
.list__chapter .accordion-button:focus {
  outline: none;
  border: none !important;
  border-color: none !important;
  box-shadow: none;
}
.list__chapter .accordion-button:not(.collapsed) {
  background-color: #054a49;
  color: #fff;
}
.list__chapter .accordion-button:not(.collapsed) button {
  color: #fff;
}
.learn-iframe body video {
  height: 100%;
}
.learn-iframe body img {
  height: 100%;
}

.back__to__top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 50%;
  background: #054a49;
  width: 36px;
  height: 36px;
  color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.back__to__top.active {
  display: flex;
}
.user__created {
  margin-bottom: 30px;
}
.user__created .user__avt {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
  min-height: 120px;
  min-width: 120px;
  padding: 5px;
  border: 5px solid rgba(242, 230, 225, 0.988);
  margin-bottom: 32px;
}
.user__created__box {
  color: rgba(242, 230, 225, 0.988);
  background: #3c414d;
  border-radius: 2rem;
  box-shadow: 0rem 1.75rem 3.125rem 0.25rem rgba(101, 84, 89, 0.39);
}
.user__created__title h2 {
  color: #054a49;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.user__created__name {
  font-size: 2.4rem;
  line-height: 2;
  font-weight: 700;
}
.user__created__job {
  padding: 5px 1.875rem;
  background-image: linear-gradient(
    22deg,
    rgba(255, 61, 61, 0.41) 0%,
    rgba(240, 132, 86, 0.008) 100%
  );
  border-radius: 20px;
  font-size: 20px;
  margin: 20px 0;
  background-color: rgb(39, 153, 168);
}

.user__created__jobBE {
  padding: 5px 1.875rem;
  background-image: linear-gradient(
    22deg,
    rgba(255, 61, 61, 0.41) 0%,
    rgba(240, 132, 86, 0.008) 100%
  );
  border-radius: 20px;
  font-size: 20px;
  margin: 20px 0;
  background-color: rgb(97, 136, 212);
}
.Mui-checked {
  color: #054a49 !important;
}
.learn__video {
  background: #000;
}
.learn__viewer {
  width: 100%;
}
.learn__viewer video {
  width: inherit;
}
.learn .nav-tabs .nav-link.active {
  border: none;
}
.learn .nav-link {
  color: #000;
  transition: none;
  margin-bottom: 0;
  border: none;
}
.learn .nav-link:hover {
  border: none;
  transition: none;
}
.time__video {
  background: #000;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  max-width: min-content;
  font-size: 12px;
}
.note__item-time {
  background: #000;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  max-width: min-content;
  font-size: 11px;
}

.question__item {
  display: flex;
  width: 100%;
}
.question__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.question__right {
}

.question__left .question__item-avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
  padding: 1px;
  border: 5px solid rgba(242, 230, 225, 0.988);
}
.question__item-header {
  position: relative;
}
.question__item-header .question__item-tool {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 999;
  background: #054a4970;
  border-radius: 10%;
  padding: 5px;
}
.question__item-title {
  width: 90%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
.notfoundpage {
  background: #3c414d;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notfoundpage h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.course__link {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.course__link a:hover {
  color: #054a49;
}

/* responesive màn hình nhỏ */
@media (max-width: 768px) {
  .card__course-item .avt__course {
    position: inherit;
  }
  .course__link {
    position: inherit;
  }
}
/* responesive màn hình vừa */
@media (max-width: 992px) {
  .card__course-item .avt__course {
    position: inherit;
  }
  .course__link {
    position: inherit;
  }
}
.forumPage {
  background: #f5f6f7;
}

.forumPage .form__add {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.04);
}
.forumPage .form__add__content {
  cursor: pointer;

  padding: 10px 20px;
}

.tool__interact {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.tool__interact span {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #061c3d;
}
.post__item {
  margin-bottom: 18px;
  padding: 28px;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
}
.post__item svg {
  font-size: 18px;
  color: #0b63e5;
}

.post__item__content__title a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.015em;
  color: #061c3d;
  text-decoration: none;
}
.post__item__content__title {
  margin-bottom: 10px;
}

.post__item__content__title a:hover {
  color: #054a49;
}
.post__item__content__desc p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #42526b;
}
.post__item .btn__read {
  color: #fff;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 12px;
  background: #0b63e5;
  border-radius: 7px;
}
.post__item .btn__read svg {
  font-size: 20px;
  color: #fff;
}
.author__info__img img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .tool__interact span {
    font-size: 9px;
    line-height: 16px;
  }
  .post__item {
    padding: 10px;
  }
  .post__item__content__title {
    margin-bottom: 10px;
  }
  .post__item__content__title a {
    font-size: 16px;
  }
  .post__item__content__desc p {
    font-size: 14px;
  }
  .post__item .btn__read {
    padding: 10px 20px;
  }
  .post__item .btn__read svg {
    font-size: 16px;
  }
}

/* css cho content__right đứng yên */
.forum__content__right {
  padding: 0 20px;
  position: sticky;
  top: calc(50px + 1rem);
  z-index: 1;
}
.forum__content__right__title h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #061c3d;
  margin-bottom: 16px;
}
.topic__item {
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.04);
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.topic__item:hover {
  background: #f5f6f7;
}
.topic__item a {
  font-size: 12px;
  text-decoration: none;
  color: #061c3d;
  line-height: 16px;
}

.btn__addCalendar {
  border: none;
  background: var(--blue);
  border-radius: 7px;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.015em;
  cursor: pointer;
  transition: 0.3s;
}
.form-switch {
  background: #fdfefe;
  font-size: 14px;
  border-radius: 2px solid #dadada;
  padding-left: 0;
}
.form-switch .form-check-input {
  margin-left: 0;
}

.login__google {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(209, 215, 220);
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
}
.login__google:hover {
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.pdf-canvas canvas {
  width: 100%;
  height: auto;
}
.note__container {
  background: #ffffff;
  box-shadow: 0px 5.04504px 25.2252px rgba(0, 0, 0, 0.15);
  border-radius: 5.63251px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question__container {
  /* border-radius: 12px;
  background: #2e3856;
  padding: 1rem;
  color: #e6e6ea;
  width: 100%;
  max-width: 700px;
  margin-bottom: 2rem; */
  background: #ffffff;
  box-shadow: 0px 5.04504px 25.2252px rgba(0, 0, 0, 0.15);
  border-radius: 5.63251px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question__title h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.question__choose {
  padding: 0.75rem;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s;
}

.question__result {
  padding: 0.75rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}
.question__choose__correct {
  background: #054a49;
  border: 1px solid #fff;
}
.question__choose__wrong {
  background: red;
  border: 1px solid #fff;
}

.icon__result {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #fff;
}
.question__choose p {
  color: #061c3d;
}
.question__choose.active {
  background: #224366;
  border: 1px solid #fff;
}
.question__choose.active p {
  color: #fff;
}
.question__choose:hover {
  border: 1px solid #fff;

  /* Làm mờ không dùng opacity*/
  /* opacity: 0.8; */
}
.question__choose:hover.question__choose p {
}
.question__choose p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #224366;
}
.btn__next__quiz {
  padding: 0.5rem 1rem;
  color: var(--blue);
  border: 1px solid var(--blue);
  background: transparent;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  margin: 0 1rem;
}
.btn__next__quiz:hover {
  background: var(--blue);
  color: #fff;
}

.cart__page {
  font-family: "Poppins", sans-serif;
  background: #f5f6f7;
  padding: 12px;
}
.cart__page .cart__left {
  margin-bottom: 18px;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  padding: 16px;
}
.cart__head {
  margin-bottom: 16px;
  border-bottom: 1px solid #e6e6ea;
}
.cart__head h3 {
  font-size: 18px;
  line-height: 28px;
  color: #061c3d;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.cart__page .cart__right {
  margin-bottom: 18px;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  padding: 8px;
}
.cart__page .cart__item {
  margin-bottom: 16px;
  border-bottom: 1px solid #e6e6ea;
  padding: 16px;
  position: relative;
}
.cart__page .cart__item__img {
  width: 170px;
  height: 150px;
  overflow: hidden;
  margin-right: 16px;
  object-fit: cover;
  margin-top: 4px;
}
.cart__page .cart__item__info h3 {
  font-size: 14px;
  line-height: 22px;
  color: #061c3d;
  margin-bottom: 8px;
}

.cart__page .cart__item__info p {
  font-size: 12px;
  line-height: 22px;
  color: #9f0036;
  margin-bottom: 8px;
  font-weight: 700;
}
.icon__delete__item {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.icon__delete__item i {
  font-size: 20px;
  color: #061c3d;
}
.wish__list__btn {
  background: #fff;
  border: 1px solid #e6e6ea;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 22px;
  color: #061c3d;
  cursor: pointer;
  transition: 0.4s;
  width: max-content;
}
.cart__right {
  margin-bottom: 18px;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  padding: 16px;
}
.cart__right .cart__title {
  margin-bottom: 16px;
  border-bottom: 1px solid #e6e6ea;
}
.cart__right .cart__title h3 {
  font-size: 18px;
  line-height: 28px;
  color: #061c3d;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.cart__right .sub__total h3 {
  font-size: 16px;
  line-height: 22px;
  color: #061c3d;
  margin-bottom: 8px;
}
.cart__discount h3 {
  font-size: 16px;
  line-height: 22px;
  color: #061c3d;
  margin-bottom: 8px;
}
.discount__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.discount__input input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #e6e6ea;
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
  color: #061c3d;
  margin-right: 16px;
}
.cart__checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__checkout button {
  padding: 8px 16px;
  border: 1px solid #e6e6ea;
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  width: max-content;
  background: var(--blue);
  margin-bottom: 16px;
}
.cart__checkout button:hover {
  background: #fff;
  color: var(--blue);
  border: 1px solid var(--blue);
}
.accept__img {
  padding: 10px;
  border: 1px solid #e6e6ea;
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
  color: #061c3d;
  cursor: pointer;
  transition: 0.4s;
  width: max-content;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accept__img img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}
.cart__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
.cart__empty h3 {
  font-size: 14px;
  line-height: 28px;
  color: #061c3d;
  margin-bottom: 16px;
}

.MuiRating-sizeSmall {
  font-size: 16px !important;
}
.wish__icon,
.wish__icon__active {
  position: absolute;
  top: 12px;
  left: 10px;
  cursor: pointer;
}

.wish__icon__active i {
  font-size: 14px;
  color: #9f0036;
}
.wish__icon i {
  font-size: 14px;
  color: #061c3d;
}
.wish__icon:hover i {
  color: #9f0036;
}

.wish__icon__active:hover i {
  color: #061c3d;
}

/* chat */
.chat__container {
  background: #ffffff;
  box-shadow: 0px 5.04504px 25.2252px rgba(0, 0, 0, 0.15);
  border-radius: 5.63251px;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat__room {
  width: 100%;
  height: auto;
}
.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e5e5e5;
}
.chat__header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat__header__left h4 {
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 0.5rem;
  font-weight: 600;
  line-height: 10px;
  color: #2c2c2e;
}
.sender__avatar {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.status__active {
  margin-bottom: 0;
  color: #00a739;
  font-size: 11px;
  list-style: circle;
  margin-left: 0.5rem;
}

.chat__content {
  height: 400px;
  overflow-y: scroll;
  padding: 0 1rem;
}
.chat__content::-webkit-scrollbar {
  width: 5px;
}
.chat__content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.chat__content::-webkit-scrollbar-thumb {
  background: #888;
}
.chat__content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat__message {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  gap: 0.5rem;
}
.chat__message__right {
  margin-bottom: 1rem;
  justify-content: flex-end;
}
.chat__message__left {
  margin-bottom: 1rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.chat__message__content p {
  margin-bottom: 5px;
}
.chat__message__right .chat__message__content {
  border-radius: 10px;
  background: #0059b2;
  padding: 0.5rem 1rem;
  font-size: 11px;
  font-weight: 400;
  max-width: 93%;
}

.chat__message__left .chat__message__content {
  border-radius: 10px;
  background: #868e97;
  padding: 0.5rem 1rem;
  font-size: 11px;
  font-weight: 400;
  max-width: 93%;
}
.chat__message__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.chat__timestamp {
  font-size: 10px;
  float: right;
}

.input__sendMessage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  position: relative;
}
.input__sendMessage textarea {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 1rem;
  outline: none;
  font-size: 12px;
  min-height: 70px;
  resize: vertical;
}
.input__sendMessage i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.error__message {
  color: red;
  font-size: 12px;
  margin-top: 0.2rem;
  margin-bottom: 0;
  text-align: center;
}

.typing__animation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

/* animation typing */
.typing__dot {
  width: 6px;
  height: 6px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  background-color: #777;
  animation: typing 1s infinite;
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

/* animation typing */

.form__quiz__result h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #061c3d;
}
.result__quiz__item .result__quiz__text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #061c3d;
}

.markasdone__lecture {
  position: absolute;
  /* căn giữa */
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);

  cursor: pointer;
  transition: 0.4s;
  z-index: 999;
}

.noti__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  border: 1px solid #e5e5e5;
  position: relative;
  margin-bottom: 1rem;
}
.course__teacher__info h5 {
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}

/* Teacher info */
.teacher__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.teacher__name {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}
.teacher__name h1 {
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.teacher__caption {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.teacher__about__me span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.teacher__link__list span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.teacher__link__list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid var(--black);
  width: 200px;
}
.teacher__link__list__item i {
  font-size: 1.5rem;
  color: var(--black);
  margin-right: 1rem;
}
.teacher__link__list__item a {
  text-decoration: none;
  color: var(--black);
}

.teacher__top__course {
  margin-bottom: 1rem;
}
.teacher__top__course span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.teacher__achievements__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 3px;
  border: 1px solid var(--black);
  width: 150px;
}
.teacher__achievements__item p {
  font-size: 12px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 0.5rem;
}
.teacher__achievements__item span {
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
}
.teacher__card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.teacher__card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card__teacher__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}
.card__teacher__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.top__teacher__title {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1.2rem;
  padding-left: 10px;
  border-left: 9px solid var(--orange);
}
.teacher__card .teacher__fullname {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 0.5rem;
}

.teacher__card .teacher__caption {
  font-size: 13px;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 0.8rem;
  /* Khoảng cách dòng */
  line-height: 1.5;
}

.teacher__card .teacher__caption strong {
  background-color: var(--green);
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 8px;
}

/* History purcharse */
.historypurcharse__card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.historypurcharse__card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card__historypurcharse__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}
.top__historypurcharse__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
  padding-bottom: 1.2rem;
}
.historypurcharse__card .historypurcharse__fullname {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 0.5rem;
}

.historypurcharse__card .historypurcharse__caption {
  font-size: 13px;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 0.8rem;
  /* Khoảng cách dòng */
  line-height: 1.5;
}

.historypurcharse__card .historypurcharse__caption strong {
  background-color: var(--green);
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 8px;
}

.btn__recept__order {
  background: var(--blue);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 0.9rem;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn__recept__order i {
  font-size: 1.5rem;
}

.modal__recept__title {
  font-size: 12px;
  margin-right: 10px;
  border-left: 5px solid var(--orange);
}
