.footer {
  color: #005fb7;
  font-weight: 900;
  position: relative;
  bottom: 0;
  padding: 8rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.7)),
    url("https://utex.hcmute.edu.vn/pluginfile.php/1/theme_maker/loginbgimage/1634220818/57f4e15cb6bc4be212ad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__brand {
  font-size: 1.8rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  padding: 5px 20px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #fff;
  transition: 0.4s;
}
.footer__brand:hover {
  background: #fff;
  color: #000;
  transition: 0.4s;
}
