.carousel {
  border-radius: 16px;
  overflow: hidden;
  border: 3px solid #005fb7;
}
/* .carousel-item img {
}
.carousel-item1 {
  background: linear-gradient(
    to right,
    rgb(35, 33, 35),
    rgba(247, 254, 33, 0.882)
  );
}

.carousel-item2 {
  background: linear-gradient(to right, #eecda3, #ef629f);
}

.carousel-item3 {
  background: linear-gradient(to right, #ed4264, #ffedbc);
} */
.carousel-color {
  width: 0% !important;
}
.carousel-color i {
  background-color: #fff;
  font-size: 3rem;
  color: var(--pink);
  border-radius: 50%;
}
.carousel-control-prev i {
  position: absolute;
  left: 0;
  background-color: #005fb7;
  color: #fff;
}
.carousel-control-next i {
  position: absolute;
  right: 0;
  background-color: #005fb7;
  color: #fff;
}
.banner__link {
  background-color: #005fb7 !important;
  font-size: 13px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 600;
  background-color: transparent;
  max-width: 300px;
  border: 2px solid #005fb7;
  box-shadow: 0 2px 12px 0 rgba(217, 106, 38, 0.28);
}
.banner__link:hover {
  color: var(--white);
  transition: 0.4s;
  transform: scale(1.1);
  background-color: #fff !important;
  color: #005fb7 !important;
  transition: 0.4s;
}
.carousel-inner button {
  width: 0% !important;
}
.banner__text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
  padding-bottom: 1.2rem;
}
.banner__text p {
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 1.2rem;
}
